* {
  box-sizing: border-box;
  
}
  #fly {
    position:absolute;
    right: 10px;
    padding-top: 7px;
  }
  .bg-img {
    background-image: url(A.henrycat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height:679px;
    position:relative;
    opacity: 2.5;
  }
  .logo{
    font-size: 30px;
    color:darkorange;
    text-align: center;
  }
  /*.navbar-nav {
    position: sticky;
  }*/
  .navbar-nav .nav-item {
    padding-top: 7px;
    font-size: 20px;
  }
  .dropdown-menu .dropdown-item:hover{
    background-color: white;
  }
  .bg-txt { 
    text-align: center;
   position:absolute;
   top:170px;
   margin-left:10%;
   color:white;
   font-size: 30px;
   letter-spacing: 3px;
   font-family: Arial, Helvetica, sans-serif;
  }
  #btn-product {
   position:absolute;
   top:475px;
   margin-left: 10%;
   font-size: 20px;
   width:200px;
  }
  #btn-mail {
   position:absolute;
   top:475px;
   right: 38%;
   font-size: 20px;
   padding: 5px;
   border:2px solid white;
   width:200px;
  }
  .watsapp {
    position:absolute;
    top:630px;
    left:84%;
    width:200px;
    color:white;
  }
  /*.facebook {
    position:absolute;
    top:540px;
    left:85%;
  }*/
  @media screen and (min-width: 1020px){
    #btn-product {
      left: 30%;
     }
     #btn-mail {
      right: 30%;
     }
     .watsapp {
       left:80%;
     }
     .bg-txt {
      left:18%;
     }
     .navbar{
      z-index: 10000;
    } 
  }
  @media screen and (max-width: 600px) {
    .watsapp {
      left:32%;
    }
    #btn-mail {
     top: 80%;
     left:32%;
     }
     #btn-product {
      left: 32%;
     }
     .bg-txt {
      font-size:15px;
      left:15%;
     }
     #fly {
      display:none;
      position:absolute;
      right: 10px;
      padding-top: 7px;
    }
    .navbar{
      z-index: 10000;
    } 
  }
  @media screen and (max-width: 538px) {
    .bg-txt {
      font-size:13px;
      left:15%;
      color:grey;
     }
     .watsapp {
      top: 90%;
      left:32%;
    }
    #btn-mail {
     top: 75%;
     left:32%;
     border: 2px solid red;
     color: black
     }
     #btn-product {
      top: 65%;
      left: 32%;
     } 
     .navbar{
      z-index: 10000;
    }
    .bg-img {
      background-image: none;
    }   
  }
  @media screen and (max-width: 479px) {
    .bg-txt {
     font-size:13px;
     margin-left:8%;
     line-height: 20px;
     }
    .watsapp {
      top: 90%;
      left:32%;
    }
    #btn-mail {
     top: 75%;
     left:32%;
     }
     #btn-product {
      top: 65%;
      left: 32%;
     } 
     .navbar{
      z-index: 10000;
    }   
  }
  @media screen and (max-width: 486px) {
    .bg-txt {
      font-size:8px;
      left:3%;
      z-index: 0;
      top:12%;
     }
    .watsapp {
      top: 55%;
      left:23%;
      width: 170px;
    }
    #btn-mail {
     top: 45%;
     left:30%;
     width: 100px;
     }
     span.view {
       display:none;
     }
     #btn-product {
      top: 35%;
      left:20%;
      width: 100px;;
     }
     .navbar{
      z-index: 10000;
    }
    #fly {
      position:absolute;
      display:block;
      width: 50%;
    } 
    #fly button{
      position:absolute;
      display:none;
      width: 50%;
    }   
  }
  @media screen and (max-width: 326px) {
    .bg-txt {
      font-size:8px;
      left:3%;
      z-index: 0;
      top:10%;
     }
    .watsapp {
      top: 55%;
      left:18%;
      width: 170px;
    }
    #btn-mail {
     top: 45%;
     left:30%;
     width: 100px;
     }
     #btn-product {
      top: 35%;
      left:30%;
      width: 100px;;
     }
     .navbar{
      z-index: 10000;
    }
    #fly {
      position:absolute;
      display:block;
      width: 50%;
    } 
    #fly button{
      position:absolute;
      display:none;
      width: 50%;
    }   
  }
  @media screen and (max-width: 263px) {
    .watsapp {
      top: 90%;
      left:10%;
      width:180px;
    }
    #btn-mail {
     top: 75%;
     left:10%;
     width:180px;
     }
     #btn-product {
      top: 65%;
      left: 10%;
      width:180px;
     }
     .navbar{
      z-index: 10000;
    }
    #fly {
      position:absolute;
      display:block;
      width: 50%;
      top:16%;
    } 
  }
  @media screen and (max-width: 247px) {
    .watsapp {
      top: 90%;
      left:10%;
      width:180px;
    }
    #btn-mail {
     padding:0px;
     top: 73%;
     left:10%;
     width:170px;
     }
     #btn-product {
      top: 65%;
      left: 10%;
      width:170px;
      padding: 0px;
     }
  }