* {
  box-sizing: border-box;
  
}
  #fly {
    position:absolute;
    right: 10px;
    padding-top: 7px;
  }
  .bg-img {
    background-image: url(A.henrycat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height:679px;
    position:relative;
    opacity: 2.5;
  }
  .logo{
    font-size: 30px;
    color:darkorange;
    text-align: center;
  }
  /*.navbar-nav {
    position: sticky;
  }*/
  .navbar-nav .nav-item {
    padding-top: 7px;
    font-size: 20px;
  }
  .dropdown-menu .dropdown-item:hover{
    background-color: white;
  }
  .bg-txt { 
  text-align: center;
   line-break: auto;
   position:absolute;
   top:170px;
   margin-left:20%;
   color:white;
   font-size: 30px;
   letter-spacing: 3px;
   font-family: Arial, Helvetica, sans-serif;
  }
  #btn-product {
   position:absolute;
   top:475px;
   left: 38%;
   font-size: 20px;
   width:200px;
  }
  #btn-mail {
   position:absolute;
   top:475px;
   right: 30%;
   font-size: 20px;
   padding: 5px;
   border:2px solid white;
   width:200px;
  }
  .watsapp {
    position:absolute;
    top:630px;
    left:84%;
    width:200px;
    color:white;
  }
  /*.facebook {
    position:absolute;
    top:540px;
    left:85%;
  }*/
  /*@media screen and (min-width: 1020px){
    #btn-product {
      left: 30%;
     }
     #btn-mail {
      right: 30%;
     }
     .watsapp {
       left:80%;
     }
     .bg-txt {
      left:18%;
     }
     .navbar{
      z-index: 10000;
    } 
  }*/
  @media screen and (max-width: 572px) {
    .watsapp {
      left:32%;
    }
    #btn-mail {
     top: 80%;
     left:32%;
     }
     #btn-product {
      left: 22%;
     }
     .bg-txt {
      font-size:15px;
      line-height:45px;
      left:4%;
     }
     #fly {
      display:none;
      position:absolute;
      right: 10px;
      padding-top: 7px;
    }
    .navbar{
      z-index: 10000;
    } 
  }
  @media screen and (max-width: 537px) {
    .bg-txt {
      font-size:15px;
      left:1%;
      color:grey;
     }
     .watsapp {
      top: 90%;
      left:32%;
    }
    #btn-mail {
     top: 75%;
     left:32%;
     border: 2px solid red;
     color: black
     }
     #btn-product {
      top: 65%;
      left: 22%;
     } 
     .navbar{
      z-index: 10000;
    }
    .bg-img {
      background-image: none;
    }   
  }
  @media screen and (max-width: 486px) {
    .bg-txt {
      font-size:8px;
      left:3%;
      z-index: 0;
      top:12%;
     }
    .watsapp {
      top: 58%;
      left:25%;
      width: 170px;
    }
    #btn-mail {
     top: 45%;
     left:45%;
     width: 100px;
     }
     span.view {
       display:none;
     }
     #btn-product {
      top: 45%;
      left:10%;
      width: 100px;;
     }
     .navbar{
      z-index: 10000;
    }
    #fly {
      position:absolute;
      display:block;
      width: 50%;
    } 
    #fly button{
      position:absolute;
      display:none;
      width: 50%;
    }   
  }
  @media screen and (max-width: 477px) {
    .bg-txt {
     font-size:13px;
     margin-left:8%;
     line-height: 45px;
     }
     .watsapp {
      top: 68%;
      left:32%;
      width: 170px;
    }
    #btn-mail {
     top: 55%;
     left:55%;
     width: 100px;
     }
     span.view {
       display:none;
     }
     #btn-product {
      top: 55%;
      left:15%;
      width: 100px;
     } 
     .navbar{
      z-index: 10000;
    } 
    span.view {
      display:none;
    }  
  }
  @media screen and (max-width: 457px) {
    .bg-txt {
      font-size:10px;
      margin-left:8%;
      line-height: 45px;
      }
  }
  @media screen and (max-width: 371px) {
    .bg-txt {
      font-size:10px;
      margin-left:4%;
      line-height: 45px;
      }
      .watsapp {
        top: 68%;
        left:25%;
        width: 170px;
      }
      #btn-mail {
       top: 55%;
       left:50%;
       width: 100px;
       }
       span.view {
         display:none;
       }
       #btn-product {
        top: 55%;
        left:10%;
        width: 100px;
       }
  }
  @media screen and (max-width: 341px) {
    .bg-txt {
      font-size:9px;
      margin-right:3%;
      line-height: 40px;
      }
  }
  @media screen and (max-width: 332px) {
    .bg-txt {
      font-size:7px;
      margin-left:4%;
      line-height: 45px;
      }
      .watsapp {
        top: 68%;
        left:20%;
        width: 170px;
      }
      #btn-mail {
       top: 55%;
       left:48%;
       width: 100px;
       }
       span.view {
         display:none;
       }
       #btn-product {
        top: 55%;
        left:2%;
        width: 100px;
       }
  } 
  @media screen and (max-width: 325px) {
    .bg-txt {
      font-size:7px;
      top:10%;
     }
     .watsapp {
      top: 65%;
      left:20%;
      width: 170px;
    }
    #btn-mail {
     top: 53%;
     left:49%;
     width: 100px;
     }
     span.view {
       display:none;
     }
     #btn-product {
      top: 53%;
      left:4%;
      width: 100px;;
     
     }
     .navbar{
      z-index: 10000;
    }
    #fly {
      position:absolute;
      display:block;
      width: 50%;
    } 
    #fly button{
      position:absolute;
      display:none;
      width: 50%;
    }  
  }
  @media screen and (max-width: 293px) {
    .watsapp {
      top: 74%;
      left:20%;
      width: 170px;
    }
    #btn-mail {
     top: 64%;
     left:50%;
     width: 100px;
     }
     span.view {
       display:none;
     }
     #btn-product {
      top: 64%;
      left:4%;
      width: 100px;
     }
     .bg-txt {
      font-size:7.5px;
      top:22%;
      line-height: 30px;
      z-index:0;
      line-break: auto;
     }
  }
  @media screen and (max-width: 288px) {
    .watsapp {
      top: 78%;
      left:20%;
      width: 170px;
    }
    #btn-mail {
     top: 68%;
     left:53%;
     width: 100px;
     }
     span.view {
       display:none;
     }
     #btn-product {
      top: 68%;
      left:4%;
      width: 100px;
     } 
     .navbar{
      z-index: 10000;
    }
    #fly {
      position:absolute;
      display:block;
      width: 50%;
      top:16%;
    } 
    .bg-txt {
      line-break: auto;
     }
 
  }
  @media screen and (max-width: 275px) {
    .watsapp {
      top: 82%;
      left:25%;
      width: 170px;
    }
    #btn-mail {
     top: 74%;
     left:55%;
     width: 100px;
     }
     span.view {
       display:none;
     }
     #btn-product {
      top: 74%;
      left:2%;
      width: 100px;
    }
    .bg-txt {
      line-break: auto;
     }
  }
  @media screen and (max-width: 240px) {
    .watsapp {
      top: 85%;
      left:19%;
      width: 170px;
    }
    #btn-mail {
     top: 74%;
     left:55%;
     width: 100px;
     }
     span.view {
       display:none;
     }
     #btn-product {
      top: 74%;
      left:0%;
      width: 100px;
    }
    .bg-txt {
      line-break: auto;
     }
  }